<h1>Bem-vindo ao seu Dashboard</h1>

<ul>
  <li><%= link_to 'Minha Conta', edit_account_path %></li>
  <li><%= link_to 'Meus Anúncios', ads_path %></li>
  <li><%= link_to 'Mensagens', messages_path %></li>
  <li><%= link_to 'Favoritos', bookmarks_path %></li>
  <li><%= link_to 'Endereços', locations_path %></li>
  <li><%= link_to 'Alterar Senha', edit_user_registration_path %></li>
</ul>
