<h1>Criar Novo Anúncio</h1>

<%= form_with(model: @ad, url: ads_path, local: true) do |form| %>
  <div>
    <%= form.label :title, "Título do Anúncio" %>
    <%= form.text_field :title, required: true %>
  </div>

  <div>
    <%= form.label :description, "Descrição" %>
    <%= form.text_area :description, required: true %>
  </div>

  <div>
    <%= form.label :price, "Preço (CHF)" %>
    <%= form.number_field :price, step: 0.01, required: true %>
  </div>

  <div>
    <%= form.label :category_id, "Categoria" %>
    <%= form.collection_select :category_id, Category.all, :id, :name, prompt: "Selecione uma Categoria" %>
  </div>


  <div>
    <%= form.label :gallery_images, "Imagens do Anúncio" %>
    <%= form.file_field :gallery_images, multiple: true %>
  </div>

  <div>
    <%= form.submit "Criar Anúncio" %>
  </div>
<% end %>
